
[submodule ".github/actions/comment"]
	path = .github/actions/comment
	url = https://github.com/xingchun-chen/actions-comment-on-issue
[submodule ".github/actions/translate"]
	path = .github/actions/translate
	url = https://github.com/xingchun-chen/translation-helper
[submodule ".github/actions/lable-on-issue"]
	path = .github/actions/lable-on-issue
	url = https://github.com/xingchun-chen/labeler
